<div fxLayout="row wrap" class="p-1">
    <div fxFlex="20" fxLayoutAlign="start center">
        <h2>Vendedores</h2>
    </div>
    <div fxFlex="80">
        <mat-form-field fxFlex="40" appearance="outline" id="search-product">
            <mat-label>Búsqueda general...</mat-label>
            <input type="text" matInput (keyup)="applyFilter($event)"
                placeholder="Busque por nombre, apellido o correo...">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>
<div fxLayout="row wrap" class="p-1">
    <mat-tab-group fxFlex="100">
        <mat-tab label="Activos">
            <div class="p-2">
                <mat-card>
                    <div class="mat-table admin-table">
                        <div class="mat-header-row">
                            <div class="mat-header-cell">Nombre</div>
                            <div class="mat-header-cell">Correo</div>
                            <div class="mat-header-cell text-center">Teléfono</div>
                            <div class="mat-header-cell text-center">Estatus</div>
                            <div class="mat-header-cell text-center">Acciones</div>
                        </div>
                        <div *ngFor="let user of sellers | paginate: { itemsPerPage: count, currentPage: page, totalItems: totalSellers, id: 'first' }"
                            class="mat-row">
                            <div class="mat-cell">{{user.first_name}} {{user.last_name}}</div>
                            <div class="mat-cell">{{user.email}}</div>
                            <div class="mat-cell text-center">{{user.phone}}</div>
                            <div class="mat-cell"><span *ngIf="user.islockedout" fxLayoutAlign="center center"
                                    class="locked-out">Bloqueado <mat-icon>lock</mat-icon>
                                </span> <span *ngIf="!user.islockedout" fxLayoutAlign="center center"
                                    class="lock-free">Desbloqueado
                                    <mat-icon>
                                        lock_open</mat-icon></span> </div>
                            <div class="mat-cell">
                                <div class="p-1 acts">
                                    <button mat-icon-button matTooltip="Ver vendedor" (click)="viewUser(user)">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Bloquear" class="mx-1" (click)="remove(user)">
                                        <mat-icon>lock</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="sellers?.length > 0" fxLayout="row wrap">
                        <div fxFlex="100">
                            <mat-card class="p-0 text-center">
                                <pagination-controls class="product-pagination" autoHide="true" previousLabel="Anterior"
                                    nextLabel="Siguiente" (pageChange)="onPageChanged($event)" id="first">
                                </pagination-controls>
                            </mat-card>
                        </div>
                    </div>
                    <!--</mat-card>-->
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Solicitudes">
            <div class="p-2">
                <mat-card class="p-1">
                    <div class="mat-table admin-table">
                        <div class="mat-header-row">
                            <div class="mat-header-cell">Nombre</div>
                            <div class="mat-header-cell">Correo</div>
                            <div class="mat-header-cell text-center">Teléfono</div>
                            <div class="mat-header-cell text-center">Ver detalle</div>
                            <div class="mat-header-cell text-center">Acciones</div>
                        </div>
                        <div *ngFor="let user of requests | paginate: { itemsPerPage: count, currentPage: rPage, totalItems: totalRequests, id: 'second' }"
                            class="mat-row">
                            <div class="mat-cell">{{user.first_name}} {{user.last_name}}</div>
                            <div class="mat-cell">{{user.email}}</div>
                            <div class="mat-cell text-center">{{user.phone}}</div>
                            <div class="mat-cell text-center"><button mat-icon-button matTooltip="Ver usuario"
                                    (click)="viewUser(user)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button></div>
                            <div class="mat-cell">
                                <div class="p-1 acts stroked">
                                    <button mat-icon-button matTooltip="Rechazar solicitud" (click)="deny(user)"
                                        class="cancel">
                                        <mat-icon>close</mat-icon>

                                    </button>
                                    <button mat-icon-button matTooltip="Aceptar solicitud" class="mx-1"
                                        (click)="approve(user)" class="accept">
                                        <mat-icon>done</mat-icon>

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="requests?.length > 0" fxLayout="row wrap">
                        <div fxFlex="100">
                            <mat-card class="p-0 text-center">
                                <pagination-controls class="product-pagination" autoHide="true" previousLabel="Anterior"
                                    nextLabel="Siguiente" (pageChange)="onPageChanged($event)" id="second">
                                </pagination-controls>
                            </mat-card>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>