<div fxLayout="row wrap" class="p-1">
    <div fxFlex="20" fxLayoutAlign="start center">
        <h2>Verificar</h2>
    </div>
</div>
<div fxLayout="row wrap" class="p-1" fxLayoutAlign="center center">
    <mat-card fxFlex="75" class="mb-2">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex="100" fxLayoutAlign="center">
                <img src="/assets/images/others/check.svg" alt="">
            </div>
            <div fxFlex="100" fxLayoutAlign="center">
                <h3>Plan de proveedores certificados</h3>
            </div>
            <div fxFlex="100" class="p-1">
                <p class="text-center">¿Te gustaría tener la verificación de tu Empresa en Alienmart?
                    Alienmart ahora te ofrece el Plan de Proveedores Certificados. </p>
            </div>
            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                <h3>Beneficios</h3>
                <ul fxFlex="100" class="p-1">
                    <li>Máxima Exposición en Alienmart. Todos tus productos estarán arriba de cualquier producto
                        ofrecido por un
                        Vendedor sin verificación. </li>
                    <li>Mayores Ventas: Todos tus productos estarán en la primera página de Alienmart.</li>
                    <li>Ahorros: Ahorra hasta 4% de comisión por cada venta que hagas en la plataforma.</li>
                    <li>Confianza: Generarás confianza a tus clientes potenciales puesto que estarás verificado por
                        Alienmart.</li>
                    <li>Flexibilidad para tus clientes: Aceptas todos los métodos de pago ofrecidos por Alienmart.</li>
                    <li>Ícono de Verificación: Todos tus productos publicados tendrán el ícono de verificación.
                    </li>

                </ul>
            </div>

            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                <h3 class="mt-1" fxFlex="100" fxLayoutAlign="center">Precios</h3>
                <div fxLayout="row wrap" fxFlex="100" class="p-1 prices" fxLayoutGap="16px">
                    <div fxFlex="calc(33.3% - 16px)" fxLayoutAlign="start center" fxLayout="column">
                        <div>
                            <button mat-mini-fab color="primary">1</button>&nbsp; año
                        </div>
                        <p>$29,999 Iva Incluído (Ahorra hasta 4% de comisión por cada venta que hagas en la
                            plataforma)</p>
                    </div>
                    <div fxFlex="calc(33.3% - 16px)" fxLayoutAlign="start center" fxLayout="column">
                        <div>
                            <button mat-mini-fab color="primary">2</button>&nbsp; años
                        </div>
                        <p>$49,999 Iva Incluído (Ahorra 16.66% y 4% de comisión por venta por cada venta que
                            hagas en la plataforma) (Más Popular)</p>

                    </div>
                    <div fxFlex="calc(33.3% - 16px)" fxLayoutAlign="start center" fxLayout="column">
                        <div>
                            <button mat-mini-fab color="primary">3</button>&nbsp; años
                        </div>
                        <p>$70,000 Iva Incluído (Ahorra 22.22% y 4% de comisión por venta por cada venta
                            que
                            hagas en la plataforma)</p>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" class="my-2">
                <!--<button mat-raised-button color="primary">Solicitar verificación</button>-->
                <p class="text-center">
                    Para solicitar su verificación y/o información, escriba un Whatsapp al +52 812 123 5162 o mande un
                    correo a support@alienmart.com.</p>
            </div>
        </div>
    </mat-card>
</div>