img {
    border-radius: 50%;
    object-fit: cover;
}

.name-label {
    font-size: 16px !important;
    line-height: 16px !important;
}

.level-lbl {
    padding-top: 6px;
    font-size: 12px !important;
    line-height: 12px !important;
}

.info {
    cursor: pointer;
}