<div fxLayout="column" fxLayoutAlign="center center">
    <h3 *ngIf="query && totalItems > -1">{{totalItems > -1? totalItems : 0}}
        resultado{{totalItems>1 || totalItems == -1? 's' : ''}} para:
        "{{query}}"</h3>
    <h1 *ngIf="cid">{{categoryDesc}}</h1>
    <h3 *ngIf="cid && totalItems > -1">{{totalItems}} resultado{{totalItems>1? 's' : ''}}</h3>
</div>

<div fxLayout="row wrap" class="products-wrapper">
    <div *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page, totalItems: totalItems }"
        fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="33.3" class="col" ngClass.gt-md="p-2" ngClass.lt-lg="p-1">
        <mat-card class="product-item">
            <a [routerLink]="['/products', product.id, product.name]" class="image-link">
                <img [src]="product.images[0]?.url" alt="">
            </a>
            <a [routerLink]="['/products', product.id, product.name]" class="title text-truncate">
                {{product.name}}
            </a>
            <p class="text-muted prod-desc">{{product.description}}</p>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                <div fxLayout="column" fxLayoutAlign="center start">
                    <p class="old-price text-muted"><span
                            *ngIf="product.comparison_price">${{product.comparison_price | number : '1.2-2'}}</span>
                    </p>
                    <p class="new-price">${{product.price | number : '1.2-2'}}</p>
                </div>
                <div class="icons">
                    <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)">
                    </app-controls>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div *ngIf="totalItems > 0" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card class="p-0 text-center">
            <pagination-controls class="product-pagination" autoHide="true" maxSize="15"
                (pageChange)="onPageChanged($event)" previousLabel="Anterior" nextLabel="Siguiente" responsive="true">
            </pagination-controls>
        </mat-card>
    </div>
</div>

<div *ngIf="totalItems == 0" fxLayout="row wrap">
    <div fxFlex="100" fxLayoutAlign="center">
        <p>No existen productos para esta categoría... todavía. Intenta buscando en otro categoría o realizando una
            búsqueda.</p>
    </div>
</div>