.products-wrapper {
    margin: 8px -8px;

    .col {
        padding: 8px;
    }
}


.new-price {
    color: #00B081 !important;
    font-size: 18px !important;
}

.prod-desc {
    height: 45px;
    line-height: 22.5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-item .title {
    font-weight: 600;
    font-size: 16px;
}