<div *ngIf="appService.Data.cartList.length == 0">
  <mat-chip-list>
    <mat-chip color="warn" selected="true">TU CARRITO DE COMPRAS ESTA VACÍO.</mat-chip>
  </mat-chip-list>
  <a [routerLink]="['/']" mat-raised-button color="primary" class="mt-2">Seguir comprando</a>
</div>

<mat-card *ngIf="appService.Data.cartList?.length > 0" class="p-0">

  <div class="mat-table cart-table">
    <div class="mat-header-row">
      <div class="mat-header-cell"></div>
      <div class="mat-header-cell">NOMBRE</div>
      <div class="mat-header-cell">PRECIO</div>
      <div class="mat-header-cell">CANTIDAD</div>
      <div class="mat-header-cell">TOTAL</div>
      <div class="mat-header-cell text-center">
        <div class="px-1">
          <button mat-raised-button color="warn" (click)="clear()">Vaciar carrito</button>
        </div>
      </div>
    </div>
    <div *ngFor="let product of appService.Data.cartList" class="mat-row">
      <div class="mat-cell"><img [src]="product.images[0].url"></div>
      <div class="mat-cell"><a [routerLink]="['/products', product.id, product.name]"
          class="product-name">{{product.name}}</a></div>
      <div class="mat-cell">${{product.price | number : '1.2-2'}}</div>
      <div class="mat-cell text-muted">
        <app-controls [product]="product" [type]="'wish'" (onQuantityChange)="updateCart($event)"></app-controls>
      </div>
      <div class="mat-cell">${{total[product.id] | number : '1.2-2'}}</div>
      <div class="mat-cell text-center">
        <div class="p-1">
          <button mat-mini-fab color="warn" (click)="remove(product)" matTooltip="Quitar">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="mat-row">
      <div class="mat-cell">
        <!--<a [routerLink]="['/']" mat-raised-button color="primary">Continuar comprando</a>-->
      </div>
      <div class="mat-cell"></div>
      <div class="mat-cell"></div>
      <div class="mat-cell text-right">
        <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-2">
          <span>Subtotal:</span>
          <!--<span class="text-muted">Descuento:</span>-->
          <!--<span class="new-price">Total:</span>-->
        </div>
      </div>
      <div class="mat-cell">
        <div fxLayout="column" fxLayoutAlign="center start" class="grand-total">
          <span>${{ grandTotal | number : '1.2-2'}}</span>
          <a [routerLink]="['/checkout']" mat-raised-button color="primary">Finalizar
            pedido</a>
          <small>*Los costos de envío serán calculados</small>
          <!--<span class="text-muted">15%</span>-->
          <!--<span class="new-price">${{ grandTotal | number : '1.2-2'}}</span>-->
        </div>
      </div>
      <div class="mat-cell text-center"></div>
    </div>
  </div>

</mat-card>