<h1 mat-dialog-title class="text-center">Información del pago</h1>
<mat-dialog-content class="mat-typography">
    <div *ngIf="data?.payment.payment == 'card'" fxFlex="100" class="p-1">
        <p> {{data?.payment.payment_data?.issuer?.toUpperCase()}}
            {{data?.payment.payment_data?.brand?.toUpperCase()}}
        </p>
        <p>XXXX-XXXX-XXXX-{{data?.payment.payment_data?.last4}}</p>
    </div>
    <div fxLayout="column" fxFlex="100" class="p-1" fxLayoutAlign="start start" *ngIf="data?.payment.payment != 'card'">
        <div class="oxxo" *ngIf="data?.payment.payment == 'oxxo_cash'">
            <div class="opps">
                <div class="opps-header">
                    <div class="opps-reminder">Ficha digital. No es necesario imprimir.</div>
                    <div class="opps-info">
                        <div class="opps-brand"><img src="assets/images/oxxopay_brand.png" alt="OXXOPay"></div>
                        <div class="opps-ammount">
                            <h3>Monto a pagar</h3>
                            <h2>$ {{data?.payment.total | number: '1.2-2'}} <sup>MXN</sup></h2>
                            <p>OXXO cobrará una comisión adicional al momento de realizar el pago.</p>
                        </div>
                    </div>
                    <div class="opps-reference">
                        <h3>Referencia</h3>
                        <h1>{{data?.payment.payment_data?.reference}}</h1>
                    </div>
                </div>
                <div class="opps-instructions">
                    <h3>Instrucciones</h3>
                    <ol>
                        <li>Acude a la tienda OXXO más cercana. <a href="https://www.google.com.mx/maps/search/oxxo/"
                                target="_blank">Encuéntrala aquí</a>.</li>
                        <li>Indica en caja que quieres realizar un pago de <strong>OXXOPay</strong>.
                        </li>
                        <li>Dicta al cajero el número de referencia en esta ficha para que tecleé
                            directamete en la pantalla de venta.</li>
                        <li>Realiza el pago correspondiente con dinero en efectivo.</li>
                        <li>Al confirmar tu pago, el cajero te entregará un comprobante impreso.
                            <strong>En el podrás verificar que se haya realizado correctamente.</strong>
                            Conserva este comprobante de pago.</li>
                    </ol>
                    <div class="opps-footnote">Al completar estos pasos recibirás un correo de
                        <strong>Alienmart</strong> confirmando tu pago.</div>
                </div>
            </div>
        </div>
        <div class="spei" *ngIf="data?.payment.payment == 'spei'">
            <div class="ps">
                <div class="ps-header">
                    <div class="ps-reminder">Ficha digital. No es necesario imprimir.</div>
                    <div class="ps-info">
                        <div class="ps-brand"><img src="assets/images/spei_brand.png" alt="Banorte">
                        </div>
                        <div class="ps-amount">
                            <h3>Monto a pagar</h3>
                            <h2>$ {{data?.payment.total | number: '1.2-2'}} <sup>MXN</sup></h2>
                            <p>Utiliza exactamente esta cantidad al realizar el pago.</p>
                        </div>
                    </div>
                    <div class="ps-reference">
                        <h3>CLABE</h3>
                        <h1>{{data?.payment.payment_data?.clabe}}</h1>
                    </div>
                </div>
                <div class="ps-instructions">
                    <h3>Instrucciones</h3>
                    <ol>
                        <li>Accede a tu banca en línea.</li>
                        <li>Da de alta la CLABE en esta ficha. <strong>El banco deberá de ser
                                STP</strong>.</li>
                        <li>Realiza la transferencia correspondiente por la cantidad exacta en esta
                            ficha, <strong>de lo contrario se rechazará el cargo</strong>.</li>
                        <li>Al confirmar tu pago, el portal de tu banco generará un comprobante digital.
                            <strong>En el podrás verificar que se haya realizado correctamente.</strong>
                            Conserva este comprobante de pago.</li>
                    </ol>
                    <div class="ps-footnote">Al completar estos pasos recibirás un correo de
                        <strong>Alienmart</strong> confirmando tu pago.</div>
                </div>
            </div>
        </div>
        <div class="paynet" *ngIf="data?.payment.payment == 'paynet'">
            <div class="whitepaper">
                <div class="Header">
                    <div class="Logo_empresa">
                        <img src="assets/images/logos/logo-alienmart.png" alt="Logo">
                    </div>
                    <div class="Logo_paynet">
                        <div>Servicio a pagar</div>
                        <img src="assets/images/paynet/paynet_logo.png" alt="Logo Paynet">
                    </div>
                </div>
                <div class="Data">
                    <div class="Big_Bullet">
                        <span></span>
                    </div>
                    <div class="col1">
                        <h3>Fecha límite de pago</h3>
                        <h4>{{data?.payment.payment_data?.expires | date: 'dd/MMMM/yyyy HH:mm' }}</h4>
                        <img width="300" [src]="data?.payment.payment_data?.barcode_url" alt="Código de Barras">
                        <center><span>{{data?.payment.payment_data.reference}}</span></center>
                        <small>En caso de que el escáner no sea capaz de leer el código de barras,
                            escribir la referencia tal como se muestra.</small>

                    </div>
                    <div class="col2">
                        <h2>Total a pagar</h2>
                        <h1>${{data?.payment.total | number : '1.0-0'}}<span>.{{getDecimals(data?.payment.total)}}</span><small>
                                MXN</small></h1>
                        <span class="note">La comisión por recepción del pago varía de acuerdo a los
                            términos y condiciones que cada cadena comercial establece.</span>
                    </div>
                </div>
                <div class="DT-margin"></div>
                <div class="Data">
                    <div class="Big_Bullet">
                        <span></span>
                    </div>
                    <div class="col1">
                        <h3>Detalles de la compra</h3>
                    </div>
                </div>
                <div class="Table-Data">
                    <div class="table-row color1">
                        <div>Descripción</div>
                        <span>{{data?.payment.payment_data?.description}}</span>
                    </div>
                    <div class="table-row color2">
                        <div>Fecha y hora</div>
                        <span>{{data?.payment.created_on | date: 'dd/MMMM/yyyy HH:mm' }}</span>
                    </div>
                    <div class="table-row color1">
                        <div>Correo del cliente</div>
                        <span>{{data?.payment.customer_email}}</span>
                    </div>
                    <div class="table-row color2" style="display:none">
                        <div>&nbsp;</div>
                        <span>&nbsp;</span>
                    </div>
                    <div class="table-row color1" style="display:none">
                        <div>&nbsp;</div>
                        <span>&nbsp;</span>
                    </div>
                </div>
                <div class="DT-margin"></div>
                <div>
                    <div class="Big_Bullet">
                        <span></span>
                    </div>
                    <div class="col1">
                        <h3>Como realizar el pago</h3>
                        <ol>
                            <li>Acude a cualquier tienda afiliada</li>
                            <li>Entrega al cajero el código de barras y menciona que realizarás un pago
                                de servicio Paynet</li>
                            <li>Realizar el pago en efectivo por
                                ${{data?.payment.total | number : '1.0-0'}}.{{getDecimals(data?.payment.total)}} MXN
                            </li>
                            <li>Conserva el ticket para cualquier aclaración</li>
                        </ol>
                        <small>Si tienes dudas comunícate a NOMBRE TIENDA al teléfono TELEFONO TIENDA o
                            al correo CORREO SOPORTE TIENDA</small>
                    </div>
                    <div class="col1">
                        <h3>Instrucciones para el cajero</h3>
                        <ol>
                            <li>Ingresar al menú de Pago de Servicios</li>
                            <li>Seleccionar Paynet</li>
                            <li>Escanear el código de barras o ingresar el núm. de referencia</li>
                            <li>Ingresa la cantidad total a pagar</li>
                            <li>Cobrar al cliente el monto total más la comisión</li>
                            <li>Confirmar la transacción y entregar el ticket al cliente</li>
                        </ol>
                        <small>Para cualquier duda sobre como cobrar, por favor llamar al teléfono +52
                            (55) 5351 7371 en un horario de 8am a 9pm de lunes a domingo</small>
                    </div>
                </div>

                <div class="logos-tiendas">

                    <ul>
                        <li><img src="assets/images/paynet/01.png" width="100" height="50"></li>
                        <li><img src="assets/images/paynet/02.png" width="100" height="50"></li>
                        <li><img src="assets/images/paynet/03.png" width="100" height="50"></li>
                        <li><img src="assets/images/paynet/04.png" width="100" height="50"></li>
                        <li><img src="assets/images/paynet/05.png" width="100" height="50"></li>
                        <li><img src="assets/images/paynet/06.png" width="100" height="50"></li>
                        <li><img src="assets/images/paynet/07.png" width="100" height="50"></li>
                        <li><img src="assets/images/paynet/08.png" width="100" height="50"></li>
                    </ul>
                    <div style="height: 90px; width: 190px; float: right; margin-top: 30px;">
                        ¿Quieres pagar en otras tiendas? visítanos en: www.openpay.mx/tiendas
                    </div>

                </div>
                <div class="Powered">
                    <img src="assets/images/paynet/powered_openpay.png" alt="Powered by Openpay" width="150">
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>